* {
    font-family: Arial, sans-serif;
    display: block;
    margin: 10px;
    padding:10px ;
}


body{
    background-color: orange;
    font-size: 10px;
    padding: 10px;
}

button{
    background-color: red;
    color: black;
    border-radius:5px;
    outline: 4rem;
    margin: 10px;
}