*{
    margin: 0 ;
    padding:0 ;
    box-sizing: border-box;
}

body{
  background-color: aqua;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button{
    background-color:purple;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
}